{% extends "base.html" %}

{% block title %}BLOG{% endblock %}



{% block content %}

<div style="background: url('/static/images/copyscott-webb-GQD3Av_9A88-unsplash.jpg'); background-size: contain; text-align: center; height: 80vh; padding: 60px;">
    <h1 class="card-title">
        <span style="color:rgb(0, 0, 0);">H<span style="color: rgb(255, 17, 176);">e</span>llo World!</span>
    </h1>
    <p class="mb-1 text-muted">Life is like a Cactus, prickly but beautiful</p>
    <br><br>
    <a href="/login" style="color:#fff; background-color: #ff11b0;" class="btn">Login</a>&nbsp&nbsp
    <a href="/register" style="color:#fff; background-color: rgb(175, 2, 255);" class="btn">Register</a>
</div>

{% endblock %}