{% extends "base.html" %}

{% block title %}User Account{% endblock %}



{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category,msg in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div style="margin-top: 50px;">
    {% if 'user' in session and name == session['user'] %}
    <img style="display:inline; transform: translateY(-9px); height: 80px; width: 80px; border-radius: 60px;" src="{{imgurl}}" alt="profile-pic">
    {% endif %}
    &nbsp&nbsp&nbsp
    <h2 style="display:inline;">Hello, {{name}}</h2>
    <a style="display: inline; width: 80px; margin-left: 15px;" class="btn btn-danger float-right" href="/logout">Logout</a>
    <a style="display: inline; width: 80px; margin-left: 15px;" class="btn btn-warning float-right" href="/posts">Posts</a>

    <form action = "/user/avatar/upload" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" accept=".png, .jpg, .jpeg, .bmp"  id="img" style="display:none;" />
        <label for="img" style="cursor: pointer; color: blue;">Update Picture</label>
    </form>
</div>
<hr><br>



<form action="#" method="POST" class="form1">
    
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter Email" value="{{email if email}}"/>
    </div>
    <div class="form-group">
        <label>Date and Time</label>
        <input class="form-control" type="datetime" name="datetime" placeholder="Enter Date and Time" value="{{datetime if datetime}}"/>
    </div>
    <input class="btn btn-success" type="submit" value="Submit" style="margin-top: 20px;">
</form>


<br><br>


{% endblock %}