{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-info alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


    <div class="container">
        <table class="table table-bordered table-hover">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for item in values %}
                        <tr>
                            <th scope="row">{{item._id}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.pwd}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.datetime}}</td>
                            <td><a class="btn btn-danger" href="/view/delete/{{item._id}}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
    </div>
    
{% endblock %}