{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}



{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category,msg in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


    <div class="container" style="overflow-x: auto;">
        <table class="table table-bordered table-hover">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for item in values %}
                        <tr>
                            <th scope="row">{{item._id}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.pwd}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.datetime}}</td>
                            <td><img style="display:inline; transform: translateY(-9px); height: 80px; width: 80px; border-radius: 60px;" src="{{item.imgurl[4:]}}" alt="image"></td>
                            <td><a class="btn btn-danger" href="/view/delete/{{item._id}}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
    </div>
    
{% endblock %}